.title {
  display: block;
  margin: 0 auto;
  width: 25%;
  min-width: 300px;
}

.centered-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #FFF;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  width: 20%;
}